$border-radius: 4px;

* {
    font-family: Roboto, sans-serif;
}

body {
    width: 100%;
    overflow: hidden;
}

a {
    outline: none !important;
}

header.logo-container {
    position: fixed;
    top: -15px;
    max-width: 500px;
    max-height: 135px;
    overflow: hidden;
    z-index: 1000;

    img {
        width: 100%;
    }
}

.full-height {
    height: 100vh;
}

.full-width {
    width: 100vw;
}

.bg-img {
    background-size: cover;
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}

section, footer {
    h2 {
        font-size: 3rem;
        font-weight: bold;
    }

    h3 {
        font-size: 2rem;
        font-weight: bold;
    }
}

section#splashscreen {
    padding: 0 !important;

    .bg-img {
        background-image: url('../img/splashscreen.jpg');
        background-size: cover;
    }

    .splashscreen-text-container {
        position: absolute;
        top: 60%;
        text-align: center;
        color: white;
        font-size: 4.5rem;

        &.error {
            top: 40%;
            padding: 1rem 2rem 2rem 1rem;
            background-color: rgba(0, 0, 0, 0.6);
        }

        h1 {
            font-weight: bold;
        }

        p {
            font-size: 1.5rem;
            padding: 1rem;
        }

        .border-seperator {
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            border-top: 5px solid white;
            max-width: 900px;
            border-radius: $border-radius;
        }
    }
}

section#apropos {
    * {
        text-align: center;
    }

    .column .columns {
        margin-top: 50px;

        img.is-quarter {
            width: 25%;
            border-radius: $border-radius;
        }

        .column {
            padding-right: 1.5rem;
            padding-left: 1.5rem;

            p {
                text-align: justify;
            }
        }
    }

    .sub-section-members {
        p {
            margin-top: 1rem;
        }
    }
}

section#activites {
    height: 200vh;
    padding: 0;
    margin: 0;

    .sub-section {
        position: relative;
        transition: transform 2s;

        div.no-spacing {
            margin: 0;
            padding: 0;
        }

        &.slide {
            &:not(.animation-inversed) {
                transform: translateX(25%);
            }

            &.animation-inversed {
                transform: translateX(-25%);
            }
        }

        &:not(.animation-inversed) {
            div.content {
                left: -25%;
            }
        }

        &.animation-inversed {
            div.content {
                right: -25%;
            }
        }

        div.content {
            position: relative;
            padding: 25px;
            text-align: justify;
            overflow-y: auto;
            top: 0;

            p, img {
                margin-bottom: 1em;
            }

            img {
                margin: 1em 0 2em 0;
                position: relative;
                left: 20%;
                width: 60%;
                text-align: center;
                border-radius: $border-radius;
            }
        }

        div.headline {
            margin-top: 75px;
            padding: 25px;
            transition: display 0.25s;
            position: absolute;
            color: white;
            max-width: 35%;
            border-radius: $border-radius;
            background-color: rgba(0, 0, 0, 0.5);

            &:not(.is-headline-inversed) {
                left: 50px;
            }

            &.is-headline-inversed {
                right: 100px;
            }

            p {
                text-align: justify;
                margin-bottom: 1em;
            }
        }

        div.headline.toggle-visibility {
            display: none;
        }

        .bg-img {
            position: absolute;
            transition: transform 2s;

            &.gala-img {
                background-image: url('../img/gala.jpg');
            }

            &.mtlgj-img {
                background-image: url('../img/mtlgj.jpg');
            }
        }

        .is-mtlgj-btn {
            border-color: #29a6d6;
            color: #29a6d6;

            &:hover {
                background-color: #29a6d6;
                color: white;
            }
        }

        .is-gala-btn {
            border-color: #29a6d6;
            color: #29a6d6;
            background-color: transparent;

            &:hover {
                background-color: #29a6d6;
                color: white;
            }
        }
    }
}

section#competitions, section#partenaires {
    h2 {
        margin: 0 auto;
        text-align: center;
        max-width: 300px;
    }

    .border-seperator {
        margin: 10px auto 50px auto;
        border-top: 5px solid #848484;
        max-width: 200px;
        border-radius: $border-radius;
    }
}

section#competitions {
    .slider {
        margin: 0;
        .slider {
            overflow: hidden;

            .slider-navigation-previous, .slider-navigation-next {
                width: 48px;
                height: 48px;
                opacity: 0.75;
                background-color: #ffffff00;
                border: none;
                box-shadow: none;

                &:hover {
                    opacity: 1;
                }

                svg {
                    width: 36px;
                    height: 36px;
                }
            }

            .slider-navigation-previous {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }

            .slider-navigation-next {
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .slider-item {
                text-align: center;
            }
        }
    }
}

section#partenaires {
    .grid.is-multiline {
        display:flex;
    }
}

.sub-section-contact {
    text-align: center;

    .border-seperator {
        margin: 10px auto 25px auto;
        border-top: 2px solid #848484;
        max-width: 200px;
        border-radius: $border-radius;
    }

    embed, iframe {
        margin-top: 1rem;
        height: 600px;
        width: 500px;
        border: 1px solid lightgray;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    address {
        background: white;
        padding: 10px;
        font-size: 0.8rem;
        text-align: left !important;
        border: 1px solid lightgray;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        max-width: 500px;
        position: relative;
        top: -10px;
        margin: 0 auto;
    }
}

footer {
    .sub-section-contact {
        padding-top: 3.5rem;
    }

    p {
        padding: 15px 0;
        margin-top: 0.5rem;
        text-align: center;
    }
}