<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="site web du club conjure de l'école de technologie supérieure ÉTS à Montréal" />
    <meta name="keywords" content="Conjure, Laboratoire de médias interactifs, Club Conjure, ÉTS, École de technologie supérieure, jeu vidéo, médias interactifs" />
    <meta name="author" content="Club Conjure" />

    <title>Club Conjure</title>

    <link rel="stylesheet" type="text/css" href="../../public/css/main.min.css">
</head>
<body>
    <header class="logo-container">
        <a href="#"><img src="../../public/img/conjure-logo.png" alt="Conjure Logo"></a>
    </header>

    <nav class="menu">
        <input type="checkbox" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
            <span class="hamburger"></span>
            <span class="hamburger"></span>
            <span class="hamburger"></span>
        </label>
        <a href="#apropos" class="menu-item has-tooltip-text">
            <span>À propos</span>
            <img src="../../public/img/icons/profile.png" alt="À Propos"/>
        </a>
        <a href="#activites" class="menu-item has-tooltip-text">
            <span>Activitiés</span>
            <img src="../../public/img/icons/medal.png" alt="Activitiés / Compétitions"/>
        </a>
        <a href="#partenaires" class="menu-item has-tooltip-text">
            <span>Partenaires</span>
            <img src="../../public/img/icons/sponsor.png" alt="Partenaires"/>
        </a>
        <a href="../en" class="menu-item-always-open language-icon">
            <span>EN</span>
        </a>
        <a href="https://www.facebook.com/ConjureETS/" class="menu-item-always-open">
            <img src="../../public/img/icons/facebook.png" alt="Facebook"/>
        </a>
        <a href="mailto:conjure@ens.etsmtl.ca" class="menu-item-always-open">
            <img src="../../public/img/icons/email.png" alt="Courriel"/>
        </a>
    </nav>

    <main>
        <section class="section full-height" id="splashscreen">
            <div class="bg-img full-height full-width"></div>
            <div class="splashscreen-text-container full-width">
                <h1>Laboratoire de médias interactifs</h1>
                <div class="border-seperator"></div>
                <h2><span class="year-animated" data-endvalue="2009">0000</span> - <span class="year-animated" data-delay="2000">0000</span></h2>
            </div>
        </section>
        <section class="section" id="apropos">
            <h2>Qui sommes-nous ?</h2>
            <div class="columns is-centered is-vcentered">
                <div class="column is-one-third-tablet is-full-mobile">
                    <img class="is-quarter" src="../../public/img/learn.png" alt="Apprendre">
                    <h3>Apprendre</h3>
                    <p></p>
                </div>
                <div class="column is-one-third-tablet is-full-mobile">
                    <img class="is-quarter" src="../../public/img/remote.png" alt="Équippement">
                    <h3>Équippement</h3>
                    <p></p>
                </div>
                <div class="column is-one-third-tablet is-full-mobile">
                    <img class="is-quarter" src="../../public/img/medal.png" alt="Compétitions">
                    <h3>Compétitions</h3>
                    <p></p>
                </div>
            </div>
            <div class="columns is-centered is-vcentered">
                <div class="column is-half-tablet is-full-mobile">
                    <h3>Contactez-nous</h3>
                    <iframe width="500" height="600"
                            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJB5eDqmAayUwR9kVcpBmnMrc&key=AIzaSyDa73RDd5rn0c6jqn8nAXKh01L8NfrQGQM" allowfullscreen></iframe>
                    <address>
                        1219 William, Montreal<br/>
                        Local D-2020<br/>
                        <a href="mailto:conjure@ens.etsmtl.ca">conjure@ens.etsmtl.ca</a><br/>
                        <a href="tel:5143968800">(514) 396-8800 poste: #7713</a>
                    </address>
                </div>
                <div class="column is-half-tablet is-full-mobile">
                    <h3>Membres</h3>
                </div>
            </div>
        </section>
        <section class="section" id="activites">
            <div class="full-height full-width columns is-full sub-section">
                <div class="bg-img gala-img full-height full-width"></div>
                <div class="content column is-two-fifths-desktop is-half-tablet is-three-quarters-mobile full-height">
                    <p></p>
                    <button class="button is-info is-outlined is-medium">Fermer</button>
                </div>
                <div class="headline">
                    <h2>Gala Conjure</h2>
                    <p></p>
                    <button class="button is-info is-outlined is-medium">En savoir plus</button>
                </div>
            </div>
            <div class="full-height full-width is-full columns animation-inversed sub-section">
                <div class="bg-img mtlgj-img full-height full-width"></div>
                <div class="headline is-headline-inversed">
                    <h2>Montréal Game Jam</h2>
                    <p></p>
                    <button class="button is-info is-outlined is-medium">En savoir plus</button>
                </div>
                <div class="content column is-two-fifths-desktop is-half-tablet is-three-quarters-mobile full-height">
                    <p></p>
                    <button class="button is-info is-outlined is-medium">Fermer</button>
                </div>
            </div>
        </section>
        <section class="section" id="competitions"></section>
        <section class="section" id="partenaires">
            <h2>Partenaires</h2>
            <div class="border-seperator"></div>
            <div class="columns is-full full-width sub-section is-centered">
                <div class="imq-section column is-three-fifths-desktop is-8-tablet is-full-mobile">
                    <div class="grid columns is-multiline">
                        <img class="column is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile" src="../../public/img/partenaires/ETS-color.png" alt="Logo École de technologie supérieure">
                        <img class="column is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile" src="../../public/img/partenaires/AEETS-color.png" alt="Logo Association étudiante de l'ÉTS">
                        <img class="column is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile" src="../../public/img/partenaires/LanETS-black.png" alt="Logo LanETS">
                        <img class="column is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile" src="../../public/img/partenaires/bEhaviour-black.png" alt="Logo bEhaviour Interactive">
                        <img class="column is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile" src="../../public/img/partenaires/EA-black.png" alt="Logo Electronic Arts">
                        <img class="column is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile" src="../../public/img/partenaires/EidosMontreal-black.png" alt="Logo Eidos Montreal">
                        <img class="column is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile" src="../../public/img/partenaires/Ludia-color.png" alt="Logo Ludia">
                        <img class="column is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile" src="../../public/img/partenaires/SquareEnixMontreal-black.png" alt="Logo Square Enix Montreal">
                        <img class="column is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile" src="../../public/img/partenaires/Ubisoft-black.png" alt="Logo Ubisoft">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="full-width">
        <p>Copyright &copy; Conjure</p>
    </footer>

    <script type="application/javascript" src="../../public/js/main.min.js"></script>
</body>
</html>