<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="site web du club conjure de l'école de technologie supérieure ÉTS à Montréal" />
    <meta name="keywords" content="Conjure, Laboratoire de médias interactifs, Club Conjure, ÉTS, École de technologie supérieure, jeu vidéo, médias interactifs" />
    <meta name="author" content="Club Conjure" />

    <title>Club Conjure</title>

    <link rel="stylesheet" type="text/css" href="../../public/css/main.min.css">
</head>
<body>
    <header class="logo-container">
        <a href="#"><img src="../../public/img/conjure-logo.png" alt="Conjure Logo"></a>
    </header>

    <nav class="menu">
        <input type="checkbox" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
            <span class="hamburger"></span>
            <span class="hamburger"></span>
            <span class="hamburger"></span>
        </label>
        <a href="#apropos" class="menu-item">
            <img src="../../public/img/icons/profile.png" alt="À Propos"/>
        </a>
        <a href="#activites" class="menu-item">
            <img src="../../public/img/icons/medal.png" alt="Activitiés / Compétitions"/>
        </a>
        <a href="#partenaires" class="menu-item">
            <img src="../../public/img/icons/sponsor.png" alt="Partenaires"/>
        </a>
        <a href="../en" class="menu-item-always-open language-icon">
            <span>EN</span>
        </a>
        <a href="https://www.facebook.com/ConjureETS/" class="menu-item-always-open">
            <img src="../../public/img/icons/facebook.png" alt="Facebook"/>
        </a>
        <a href="mailto:conjure@ens.etsmtl.ca" class="menu-item-always-open">
            <img src="../../public/img/icons/email.png" alt="Courriel"/>
        </a>
    </nav>

    <main>
        <section class="section full-height" id="splashscreen">
            <div class="bg-img"></div>
            <div class="splashscreen-text-container">
                <h1>Laboratoire de médias interactifs</h1>
                <div class="border-seperator"></div>
            </div>
        </section>
        <section class="section" id="apropos"></section>
        <section class="section" id="activites"></section>
        <section class="section" id="competitions"></section>
        <section class="section" id="partenaires"></section>
    </main>

    <footer>
        <p>Copyright &copy; Conjure</p>
    </footer>

    <script type="application/javascript" src="../../public/js/main.min.js"></script>
</body>
</html>